@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

body {
  background-color: #edf1f1;
  color: #1a234d;
}

a {
  color: #1a234d;
  font-size: 20px;
  font-weight: 300;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-left: 16px;
}

h1 {
  font-size: 60px;
}

/*

 NAV

 */

nav {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 8px 24px 12px;
  background-color: white;
}

.logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo__img {
  width: 40px;
  margin-top: 8px;
}

.logo__text {
  font-size: 20px;
  font-weight: 200;
}

*/ header {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}

.row__course {
  border-left: 1px dashed #cbd5e1;
}
.course {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 40px;
  gap: 20px;
  align-items: center;
  padding: 8px 0;
}
.course__icon {
  font-size: 80px;
}
.course__text {
  padding: 20px;
}
.course__selection {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: #727892;
  letter-spacing: 0.1px;
}

.course__title {
  font-weight: 600;
  font-size: 44px;
  margin-left: 32px;
  left-spacing: 2px;
}

.hero {
}
